html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 70px;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #de9876;
	font-size: 0,9em;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}

h2{
	border-bottom: 1px solid #000;
	padding: 10px;
}
.box-button{
	display: inline-block;
}

.table-nav, .tombol-nav{
	display: block;
	clear: both;
	float: left;
	width: 100%
}

.tombol-nav{
	margin: 10px;
}

.table-nav{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.jumlah-data, .paging{
	width: 50%;
	height: 50px;
	display: block; 
}

.jumlah-data{
	float: left;
	padding-top: 15px;
}

.padding{
	float: right;
	text-align: right;
	margin-bottom: 10px;
	margin-top: -10px;
}

.pagging ul.pager, .paging ul.pagination{
	text-align: right;
}

.paging ul.pager{
	margin-top: 15px;
}